<h2>My Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
   <li>
   <% if task.completed %>
     <i class="fa fa-check-square-o"></i>
    <%= link_to task.title, task_path(task) %>
    <% else %>
     <i class="fa fa-square-o"></i>
    <%= link_to task.title, task_path(task) %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'Create a new task', new_task_path %>
